{% extends "default.html.twig" %}

{% block title %}Bagatelle{% endblock %}

{% block content %}
<section>
    <h1>{{ greeting }}</h1>
    <p>
        👋 Welcome to <a href="https://github.com/dekadans/bagatelle">Bagatelle</a>,
        a PHP boilerplate bundle for simple applications.
    </p>
</section>
{% endblock %}