{% extends "layout.html.twig" %}

{% block title %}Bagatelle{% endblock %}

{% block content %}
<section>
    <h1>{{ greeting }}</h1>
    <p>Welcome to Bagatelle, a PHP boilerplate bundle for simple applications.</p>
</section>
{% endblock %}